@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.App {
  text-align: center;
}

.top {
  position: inherit;
  align-items: center;
  background-color: #2f5241;
  width: 400px;
  height: 400px;
}

.only-box {
  position: absolute;
  top: 7px;
  left: -17px;
  width: 280px;
  height: 763px;
  border: 2px solid;
  border-color: #beb24a;
  z-index: 0;
}

.squre {
  margin-top: 30px;
  max-width: 338px;
}

.to-map {
  max-width: 400px;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #faf7f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #2f5241;
}

.App-link {
  color: #61dafb;
}

.schedule {
  font-family: "Nanum Myeongjo", serif;
  margin-bottom: 2rem;
}

.schedule ul {
  line-height: 2rem;
  text-align: left;
}

.invite {
  max-width: 20rem;
  line-height: 1.5rem;
  font-family: "Nanum Myeongjo", serif;
  margin-bottom: 2rem;
}

.map {
  line-height: 2rem;
}

.map h2 {
  font-family: "Nanum Myeongjo", serif;
}

.to-map {
  max-width: 350px;
}

.line {
  size: 3px;
  width: 10rem;
  border-color: whtie;
}

.copyBtn {
  width: 17rem;
  height: 5rem;
  border: none;
  background-color: #2f5241;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  display: block;
  text-align: center;
  margin: 3rem auto;
  top: 5rem;
}
